SOA 第20组 assignment-10/webAppClient/src/main/java/com/scoreservice/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://scoreservice.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://scoreservice.com/" name="ScoreServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://scoreservice.com/" schemaLocation="http://localhost:8888/ScoreService/?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteScore">
<part name="parameters" element="tns:deleteScore"/>
</message>
<message name="deleteScoreResponse">
<part name="parameters" element="tns:deleteScoreResponse"/>
</message>
<message name="fixScore">
<part name="parameters" element="tns:fixScore"/>
</message>
<message name="fixScoreResponse">
<part name="parameters" element="tns:fixScoreResponse"/>
</message>
<message name="getClassAverage">
<part name="parameters" element="tns:getClassAverage"/>
</message>
<message name="getClassAverageResponse">
<part name="parameters" element="tns:getClassAverageResponse"/>
</message>
<message name="addScore">
<part name="parameters" element="tns:addScore"/>
</message>
<message name="addScoreResponse">
<part name="parameters" element="tns:addScoreResponse"/>
</message>
<message name="getScore">
<part name="parameters" element="tns:getScore"/>
</message>
<message name="getScoreResponse">
<part name="parameters" element="tns:getScoreResponse"/>
</message>
<portType name="ScoreService">
<operation name="deleteScore">
<input wsam:Action="http://scoreservice.com/ScoreService/deleteScoreRequest" message="tns:deleteScore"/>
<output wsam:Action="http://scoreservice.com/ScoreService/deleteScoreResponse" message="tns:deleteScoreResponse"/>
</operation>
<operation name="fixScore">
<input wsam:Action="http://scoreservice.com/ScoreService/fixScoreRequest" message="tns:fixScore"/>
<output wsam:Action="http://scoreservice.com/ScoreService/fixScoreResponse" message="tns:fixScoreResponse"/>
</operation>
<operation name="getClassAverage">
<input wsam:Action="http://scoreservice.com/ScoreService/getClassAverageRequest" message="tns:getClassAverage"/>
<output wsam:Action="http://scoreservice.com/ScoreService/getClassAverageResponse" message="tns:getClassAverageResponse"/>
</operation>
<operation name="addScore">
<input wsam:Action="http://scoreservice.com/ScoreService/addScoreRequest" message="tns:addScore"/>
<output wsam:Action="http://scoreservice.com/ScoreService/addScoreResponse" message="tns:addScoreResponse"/>
</operation>
<operation name="getScore">
<input wsam:Action="http://scoreservice.com/ScoreService/getScoreRequest" message="tns:getScore"/>
<output wsam:Action="http://scoreservice.com/ScoreService/getScoreResponse" message="tns:getScoreResponse"/>
</operation>
</portType>
<binding name="ScoreServicePortBinding" type="tns:ScoreService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteScore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fixScore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClassAverage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addScore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getScore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ScoreServiceService">
<port name="ScoreServicePort" binding="tns:ScoreServicePortBinding">
<soap:address location="http://localhost:8888/ScoreService/"/>
</port>
</service>
</definitions>