SOA 第20组 assignment-10/webAppClient/src/main/java/com/studentservice/4.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://studentservice.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://studentservice.com/" name="StudentServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://studentservice.com/" schemaLocation="http://localhost:8888/StudentService/?xsd=1"/>
</xsd:schema>
</types>
<message name="identifyByIdCard">
<part name="parameters" element="tns:identifyByIdCard"/>
</message>
<message name="identifyByIdCardResponse">
<part name="parameters" element="tns:identifyByIdCardResponse"/>
</message>
<message name="getStudentInfo">
<part name="parameters" element="tns:getStudentInfo"/>
</message>
<message name="getStudentInfoResponse">
<part name="parameters" element="tns:getStudentInfoResponse"/>
</message>
<message name="addStudentInfo">
<part name="parameters" element="tns:addStudentInfo"/>
</message>
<message name="addStudentInfoResponse">
<part name="parameters" element="tns:addStudentInfoResponse"/>
</message>
<message name="deleteStudentInfo">
<part name="parameters" element="tns:deleteStudentInfo"/>
</message>
<message name="deleteStudentInfoResponse">
<part name="parameters" element="tns:deleteStudentInfoResponse"/>
</message>
<message name="identifyDormitory">
<part name="parameters" element="tns:identifyDormitory"/>
</message>
<message name="identifyDormitoryResponse">
<part name="parameters" element="tns:identifyDormitoryResponse"/>
</message>
<message name="identifyDepartment">
<part name="parameters" element="tns:identifyDepartment"/>
</message>
<message name="identifyDepartmentResponse">
<part name="parameters" element="tns:identifyDepartmentResponse"/>
</message>
<message name="changeStudentInfo">
<part name="parameters" element="tns:changeStudentInfo"/>
</message>
<message name="changeStudentInfoResponse">
<part name="parameters" element="tns:changeStudentInfoResponse"/>
</message>
<message name="identifyByStudentId">
<part name="parameters" element="tns:identifyByStudentId"/>
</message>
<message name="identifyByStudentIdResponse">
<part name="parameters" element="tns:identifyByStudentIdResponse"/>
</message>
<message name="identifyStudentStatus">
<part name="parameters" element="tns:identifyStudentStatus"/>
</message>
<message name="identifyStudentStatusResponse">
<part name="parameters" element="tns:identifyStudentStatusResponse"/>
</message>
<portType name="StudentService">
<operation name="identifyByIdCard">
<input wsam:Action="http://studentservice.com/StudentService/identifyByIdCardRequest" message="tns:identifyByIdCard"/>
<output wsam:Action="http://studentservice.com/StudentService/identifyByIdCardResponse" message="tns:identifyByIdCardResponse"/>
</operation>
<operation name="getStudentInfo">
<input wsam:Action="http://studentservice.com/StudentService/getStudentInfoRequest" message="tns:getStudentInfo"/>
<output wsam:Action="http://studentservice.com/StudentService/getStudentInfoResponse" message="tns:getStudentInfoResponse"/>
</operation>
<operation name="addStudentInfo">
<input wsam:Action="http://studentservice.com/StudentService/addStudentInfoRequest" message="tns:addStudentInfo"/>
<output wsam:Action="http://studentservice.com/StudentService/addStudentInfoResponse" message="tns:addStudentInfoResponse"/>
</operation>
<operation name="deleteStudentInfo">
<input wsam:Action="http://studentservice.com/StudentService/deleteStudentInfoRequest" message="tns:deleteStudentInfo"/>
<output wsam:Action="http://studentservice.com/StudentService/deleteStudentInfoResponse" message="tns:deleteStudentInfoResponse"/>
</operation>
<operation name="identifyDormitory">
<input wsam:Action="http://studentservice.com/StudentService/identifyDormitoryRequest" message="tns:identifyDormitory"/>
<output wsam:Action="http://studentservice.com/StudentService/identifyDormitoryResponse" message="tns:identifyDormitoryResponse"/>
</operation>
<operation name="identifyDepartment">
<input wsam:Action="http://studentservice.com/StudentService/identifyDepartmentRequest" message="tns:identifyDepartment"/>
<output wsam:Action="http://studentservice.com/StudentService/identifyDepartmentResponse" message="tns:identifyDepartmentResponse"/>
</operation>
<operation name="changeStudentInfo">
<input wsam:Action="http://studentservice.com/StudentService/changeStudentInfoRequest" message="tns:changeStudentInfo"/>
<output wsam:Action="http://studentservice.com/StudentService/changeStudentInfoResponse" message="tns:changeStudentInfoResponse"/>
</operation>
<operation name="identifyByStudentId">
<input wsam:Action="http://studentservice.com/StudentService/identifyByStudentIdRequest" message="tns:identifyByStudentId"/>
<output wsam:Action="http://studentservice.com/StudentService/identifyByStudentIdResponse" message="tns:identifyByStudentIdResponse"/>
</operation>
<operation name="identifyStudentStatus">
<input wsam:Action="http://studentservice.com/StudentService/identifyStudentStatusRequest" message="tns:identifyStudentStatus"/>
<output wsam:Action="http://studentservice.com/StudentService/identifyStudentStatusResponse" message="tns:identifyStudentStatusResponse"/>
</operation>
</portType>
<binding name="StudentServicePortBinding" type="tns:StudentService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="identifyByIdCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudentInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addStudentInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteStudentInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="identifyDormitory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="identifyDepartment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeStudentInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="identifyByStudentId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="identifyStudentStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentServiceService">
<port name="StudentServicePort" binding="tns:StudentServicePortBinding">
<soap:address location="http://localhost:8888/StudentService/"/>
</port>
</service>
</definitions>